@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Stylish&display=swap');

.Detail{
    text-align: center;
    font-size: 17px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.detail--inner{
    padding: 50px;
    position: relative;
}
.content{
    width: 550px;
    height: 366px;
}
.title{
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.exp{
    margin-bottom: 30px;
}
#quantity{
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
#quantity-input{
    width: 70px;
}
.tab{
    margin: 0 10% 0;
}
.explain{
    height: 500px;
    margin-top: 40px;
}

/* 애니메이션 만들거임! */
.start{
    opacity: 0;
}
.end{
    opacity: 1;
    /* opacity가 변경될때 0.5초 걸려서 동작하게 해주세요. */
    transition: opacity 1s;
}