@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Stylish&display=swap');

.App {
  text-align: center;
  font-size: 17px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inner{
  position: relative;
}
.inner .bg-body-tertiary {
  height: 100px;
}
.inner #title-name{
  font-size: 30px;
}

.inner .bg-body-tertiary .me-auto{
  padding: 0 30px 0;
}
.inner .bg-body-tertiary .list{
  padding-left: 30px;
  color: #333;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.inner .bg-body-tertiary .list:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffb000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.inner .bg-body-tertiary .list:hover:after{
  width: 70%; 
  left: 30px; 
}
.inner .material-symbols-outlined{
  display: flex;
  padding: 10px 20px 0 5px;
  cursor: pointer;
}
.inner .material-symbols-outlined:hover{
  transition: all 0.15s;
  transform: translateY(-40%) rotate(30deg);
}

.main-bg{
  height: 500px;
  background-image: url(./img/main-bg.jpg);
  background-size: cover;
  background-position: center;
}

.inner .products-list{
  justify-content: center;
  align-items: center;
  display: block;
  height: 500px;
  padding-top: 80px;
}

.btn-sort{
  margin-top: 30px;
  margin-left: 80%;
}
.add{
  position: relative;
  height: 100px;
  padding-top: 20px;
}

